<nav class="bg-[#1f2937] p-5">
    <div class="container mx-auto flex justify-between items-center">
      <div class="flex gap-4">
        <a routerLink="/auth/user/login" routerLinkActive="text-blue-400"
          class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-[#374151]">Login Usuario</a>
        <a routerLink="/auth/user/register" routerLinkActive="text-blue-400"
          class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-[#374151]">Register Usuario</a>
      </div>
      <a routerLink="/" class="text-white text-xl font-bold">Itsco Jobs</a>
      <div class="flex gap-4">
        <a routerLink="/auth/company/login" routerLinkActive="text-blue-400"
          class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-[#374151]">Login Empresa</a>
        <a routerLink="/auth/company/register" routerLinkActive="text-blue-400"
          class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-[#374151]">Register Empresa</a>
      </div>
    </div>
  </nav>